.titleDashboard {
  text-align: center;
}

.titleDashboard h1 {
  font-weight: 700;
  margin-bottom: 24px;
}

.cameraContainer {
  border: 2px solid black;
  border-radius: 0.375rem;
  background-color: white;
}

.cameraNotSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.cameraNotSelected > p {
  font-size: 36px;
}

.headerCamera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.icon {
  height: 30px;
}

.icon:hover {
  cursor: pointer;
  height: 32px;
}

.cameraInfoCol {
  background-color: white;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.photo50 {
  width: 55vh;
  align-items: center;
  justify-content: space-between;
}
.photo100 {
  width: 100vh;
  align-items: center;
}

.info {
  display: flex;
}

.info p:first-child {
  margin-right: 32px;
}

.modeleInfo {
  margin-right: 8px;
}
