.title {
    text-align: center;
  }

  .title h1 {
    font-weight: 700;
    margin-bottom: 24px;
  }

  .headerCardDashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topoContainer {
    border-radius: 0.375rem;
  }

  .align {
    text-align: center;
  }

.photo95 {
    width: 95vh
  }
